.slider-arrow {
    margin-left: -3px;
    padding-left: 5px;
    padding-bottom: 0px;
    width: 20px;
    float: left;
    background: #d7e2e2;
    font: 800 12px Arial, Helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    position: fixed;
    /* top: -3px; */
    bottom: -3px;
    opacity: 0.9;
}
.quick-controller{
    position: fixed; 
    /* top: 0px;  */
    bottom: 0;
    left: -185px; 
    background: #d7e2e2;;
    opacity: 0.9;
    padding-top: 5px;
    z-index: 99999;
}
#btnRefresh{margin-left:6px;}
/* ============== Start Find Form ============== */
/* input[type=number]{width:90px !important} */
form#form-search .conditions {
    width: 80px;
    margin: 0 10px;
}

form#form-search .form-control {
    margin: 0 5px;
}

form#form-search input {
    width: 98px !important
}

form#form-search label {
    margin-left: 15px;
    font-weight: bold;
    color: #000;
}

fieldset {
    border-top: 0.5px groove #ddd !important;
    border-left: 0.5px groove #ddd !important;
    border-right: 0.5px groove #ddd !important;
    
    padding: 0 0.5em 0 0.5em !important;
    margin: 0 0.5em 0 0.5em !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}
fieldset  .form-control {
    display: inline;
}
legend {
    width: inherit;
    /* Or auto */
    padding: 0 10px;
    /* To give a bit of padding on the left and right */
    border-bottom: none;
}

#form-search-control {
    margin-bottom: 20px;
}

#form-search-control label {
    padding: 2px;
    margin-right: 10px;
}

fieldset.controller-group label{ display: inline;}
fieldset.query-group label{ display: inline;}

#datepickerReview{width: 200px!important;}

/* ============== End Find Form ============== */


/* ============== Start Product Item ============== */
/* body {
    background-color:#eee;
} */
label{color: #000;}
.productItem {
    width: 500px;
    height: 296px;
    background-color: #303030;
    padding: 10px;
    margin: 3px;
    margin-bottom: 11px;
    margin-left: 15px;
    float: left;
    /* cursor: pointer; */
    position: relative;
    opacity: 0.9;
}

.productItem:hover {
    /* background: #4c4141; */
}
.selected {
    background: #4c4141;
}
.productCover img{width: 214px; height: 214px;}

.productItem span {
    margin-left: 5px;
    margin-right: 16px !important;
    color: #7ce6fe;
    width: 150px;
}
i.fa, i.fas, i.far{color: #d7eee5;}
.productCover{
    float: left;
}
.productInfo{
    margin-left: 5px;
    float: left;
    width: 259px;
}
.productIdName{padding-left: 4px}
.productIdName a{font-weight: bold;}
.productName a, span.productName {
    font-weight: bold;
    color:#effb40;
}

span a.action{color:#efe936;}
span a.action-delete{color:#ff0000;}
span.productDate{color:#eeffee}
span.productPrice{color: #ff5858; font-weight: bold;} 
span.productStatus {color:#71ff71}
span.productStatus-ACTIVE{color:#03ff22;font-weight: bold;}
span.productStatus-OFF{color:#fd1fe2;font-weight: bold;}
span.productStatus-FAKE{color:#ff0000;font-weight: bold;}
span.productStatus-PENDING{color:#b19b01;font-weight: bold;}
span.productStatus-ONLEAVE{color:#d68f24;font-weight: bold;}
span.productAge{color:#2be82b}
span a.btnUpdateReviews {color:#03ff22 !important;}
span.productAuthor a{color: #eeeccc;}
i.fa-user-secret{color: #e25afb;}
.newReview{color: red !important;}
.reviewUpdated{background:#71457f  !important;}
.errorTry{color: red;}
.errorAjax{color: palevioletred;}
.productOnLeave{background: #735917 !important;;}
.productOff{background: #500000 !important;}
span.productIndex{position: absolute;
    position: absolute;
    width: 34px;
    height: 34px;
    opacity: 0.9;
    color: #ff0101;
    right: -35px;
    bottom: -11px;
    background: #c1c5d2;
    text-align: center;
    z-index: 99;
    padding-top: 7px;
    vertical-align: middle;
    font-weight: bold;
    border: dotted 1px #d6c6c6;
    font-family: monospace;
}
/* ============== End Product Item ============== */

#txtStartIndexUpdateReviews{width:100px;}
#btnSearch, #btnUpdateReviewsAllProducts{margin: 10px;}
#cbFocusProductItem{margin: 0 5px}
#txtStartIndexUpdateReviews{width:80px;}
#btnDeleteAllProducts{margin: 5px;}
.inputSettings{ margin: 5px !important;}
div.active {
    animation-duration: 900ms;
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    -webkit-animation: blink 900ms infinite; /* Safari and Chrome */
}
@keyframes blink {
    from {
        background-color: #303030;
    }
    to {
        background-color:#4c4141;
    }
}
@-webkit-keyframes blink {
    from {
        background-color:#303030;
    }
    to {
        background-color:#4c4141;
    }
}