/* ============== Start Find Form ============== */

form#form-search .conditions {
    width: 80px;
    margin: 0 10px;
}

form#form-search .form-control {
    margin: 0 5px;
}

form#form-search input {
    width: 98px !important
}

form#form-search label {
    margin-left: 15px;
    font-weight: bold;
    color: green;
}

fieldset {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

legend {
    width: inherit;
    /* Or auto */
    padding: 0 10px;
    /* To give a bit of padding on the left and right */
    border-bottom: none;
}

#form-search-control {
    margin-bottom: 20px;
}

#form-search-control label {
    padding: 5px;
    margin-right: 30px;
}


/* ============== End Find Form ============== */


/* ============== Start Product Item ============== */
/* body {
    background-color:#eee;
} */
label{color: #000;}
.productItem {
    width: 500px;
    height: 296px;
    background-color: #303030;
    padding: 10px;
    margin: 3px;
    margin-bottom: 11px;
    margin-left: 15px;
    float: left;
    /* cursor: pointer; */
    position: relative;
}

.productItem:hover, .active {
    background: #8a3232;
}
.productCover img{width: 214px; height: 214px;}

.productItem span {
    margin-left: 5px;
    margin-right: 20px !important;
    color: #7ce6fe;
    width: 150px;
}
i.fa, i.fas, i.far{color: #fff;}
.productCover{
    float: left;
}
.productInfo{
    margin-left: 5px;
    float: left;
}

.productName a {
    font-weight: bold;
    color:#bac152;
}
span.productDate, span.productPrice {color:#eeffee}
span.productStatus {color:#71ff71}

.newReview{color: red !important;}
.reviewUpdated{background:#ffc4c4 !important;}
.errorTry{color: red;}
.errorAjax{color: palevioletred;}

span.productIndex{position: absolute;
    width: 34px;
    height: 34px;
    opacity: 0.9;
    color: green;
    right: -35px;
    bottom: -11px;
    background: #c1c5d2;
    text-align: center;
    z-index: 99;
    padding-top: 4px;
    vertical-align: middle;
    font-weight: bold;
    border: dotted 1px #d6c6c6
}
/* ============== End Product Item ============== */

#txtStartIndexUpdateReviews{width:100px;}
#btnSearch, #btnUpdateReviewsAllProducts{margin: 10px;}
#cbFocusProductItem{margin: 0 5px}
#txtStartIndexUpdateReviews{width:80px;}